{:duct.profile/base
 {:duct.core/project-ns
  duct-todo

  ; routing
  :duct.router/ataraxy
  {:routes
   {["/articles"] {[:get]  [:duct-todo.handler.articles/index]
                   [:post] [:duct-todo.handler.articles/create]}}}

  ; handler
  :duct-todo.handler.articles/index
  {:db #ig/ref :duct.database/sql}

  :duct-todo.handler.articles/create
  {:db #ig/ref :duct.database/sql}

  ; database
  :duct.database.sql/hikaricp
  {}}

 :duct.profile/dev
 #duct/include "dev"

 :duct.profile/local
 #duct/include "local"

 :duct.profile/prod
 {}

 :duct.module/logging
 {}

 :duct.module.web/api
 {}}
