{:duct.profile/base
 {:duct.core/project-ns
  duct-todo

  ; routing
  :duct.router/ataraxy
  {:routes
   {[:get "/"]    [:todo.handler/index]
    ["/articles"] {[:get]                                   [:todo.handler.articles/index]
                   [:post {{:keys [content]} :body-params}] [:todo.handler.articles/create content]}}}

  ; handler
  [:duct.handler.static/ok :todo.handler/index]
  {:body {:article "/articles"}}

  [:duct.handler.sql/query :todo.handler.articles/index]
  {:sql ["SELECT * FROM articles"]}

  [:duct.handler.sql/insert :todo.handler.articles/create]
  {:request {[_ content] :ataraxy/result}
   :sql     ["INSERT INTO articles (content) VALUES (?)" content]}

  ; migration
  :duct.migrator/ragtime
  {:migrations [#ig/ref :todo.migration/create-articles]}

  [:duct.migrator.ragtime/sql :todo.migration/create-articles]
  {:up   ["CREATE TABLE articles (id serial NOT NULL PRIMARY KEY, content text NOT NULL)"]
   :down ["DROP TABLE articles"]}}

 :duct.profile/dev
 #duct/include "dev"

 :duct.profile/local
 #duct/include "local"

 :duct.profile/prod
 {}

 :duct.module/logging
 {}

 :duct.module.web/api
 {}

 :duct.module/sql
 {}}
