{:duct.profile/base
 {:duct.core/project-ns
  duct-todo

  ; routing
  :duct.router/ataraxy
  {:routes
   {["/articles"] {[:get]  [:duct-todo.handler.articles/index]
                   [:post] ^:jws-auth [:duct-todo.handler.articles/create]}
    ["/users"]    {[:post]           [:duct-todo.handler.users/create]
                   [:post "/signin"] [:duct-todo.handler.users/signin]}}
   :middleware
   {:jws-auth #ig/ref :duct.middleware.buddy/authentication}}

  ; handler
  :duct-todo.handler.articles/index
  {:db #ig/ref :duct.database/sql}

  :duct-todo.handler.articles/create
  {:db #ig/ref :duct.database/sql}

  :duct-todo.handler.users/create
  {:db #ig/ref :duct.database/sql}

  :duct-todo.handler.users/signin
  {:db         #ig/ref :duct.database/sql
   :jwt-secret #duct/env "JWT_SECRET"}

  ; buddy
  :duct.middleware.buddy/authentication
  {:backend :jws
   :secret  #duct/env "JWT_SECRET"}

  ; database
  :duct.database.sql/hikaricp
  {}}

 :duct.profile/dev
 #duct/include "dev"

 :duct.profile/local
 #duct/include "local"

 :duct.profile/prod
 {}

 :duct.module/logging
 {}

 :duct.module.web/api
 {}}
